.diary-analytics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    width: 47%;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      width: 100%;
    }

    .header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
  }

}
