.button-container {
  margin-bottom: 20px;
}

textarea {
  height: 50vh;
}

.general-rule, .detailed-rule {
  .header-image {
    background-size: cover;
  }
}

.card {
  .card-header-action {
    flex: 1;
  }
}

.agreements-editor-actions {
  display: flex;
  justify-content: space-between;

  .editor-title {
    font-size: 20px;
    font-weight: 500;
  }
}
