.button-container {
  margin-bottom: 20px;
}

textarea {
  height: 50vh;
}

.general-rule, .detailed-rule {
  .header-image {
    background-image: url('../../../assets/images/background/background1.jpg');
    background-size: cover;
  }
}

.card {
  .card-header-action {
    flex: 1;
  }
}

