<div *ngIf="!(isEditMode$ | async)">
  <mat-card class="card general-rule mb-2">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url(assets/images/agreements.jpeg);"></div>
      <mat-card-title>{{'AGREEMENTS.GENERAL_RULE' | translate}}</mat-card-title>
      <mat-card-subtitle>
        <span>{{(agreementGeneralRule$ | async)?.authorName}}, </span>
        <span>{{(agreementGeneralRule$ | async)?.createdDate | date: 'medium'}}</span>
      </mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="edit(AGREEMENT_TYPE.GENERAL_RULE)">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#edit" href="#edit"></use>
          </svg>
          {{'TABLE.EDIT' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{(agreementGeneralRule$ | async)?.content}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card detailed-rule">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url(assets/images/agreements.jpeg);"></div>
      <mat-card-title>{{'AGREEMENTS.DETAILED_RULE' | translate}}</mat-card-title>
      <mat-card-subtitle>
        <span>{{(agreementDetailedRule$ | async)?.authorName}}, </span>
        <span>{{(agreementDetailedRule$ | async)?.createdDate | date: 'medium'}}</span>
      </mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="edit(AGREEMENT_TYPE.DETAILED_RULE)">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#edit" href="#edit"></use>
          </svg>
          {{'TABLE.EDIT' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{(agreementDetailedRule$ | async)?.content}}</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="agreements-editor" *ngIf="(isEditMode$ | async)">
  <div class="agreements-editor-actions">
    <div class="editor-title">{{agreementType === AGREEMENT_TYPE.GENERAL_RULE ? ('AGREEMENTS.GENERAL_RULE' | translate) : ('AGREEMENTS.DETAILED_RULE' | translate)}}</div>
    <div class="button-container text-right">
      <button mat-raised-button class="mr-2" (click)="cancel()">
        <svg class="icon" width="16" height="16">
          <use xlink:href="#times" href="#times"></use>
        </svg>
        {{'COMMON.CANCEL' | translate}}
      </button>
      <button mat-raised-button (click)="save()" color="primary">
        <svg class="icon" width="16" height="16">
          <use xlink:href="#save" href="#save"></use>
        </svg>
        {{'TABLE.SAVE' | translate}}
      </button>
    </div>
  </div>

  <form name="agreement-form">
    <mat-form-field class="content-input full-width" appearance="fill">
      <mat-label>{{'TABLE.CONTENT' | translate}}</mat-label>
      <textarea name="content" matInput aria-label="content" [(ngModel)]="content"></textarea>
    </mat-form-field>
  </form>
</div>
