<div class="diary-habits">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url(assets/images/habits.jpeg);"></div>
      <mat-card-title>{{'HABITS.SELF_CARE' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'MESSAGE.SELF_CARE_DESCRIPTION' | translate}}</mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="createTask('self-care')">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#plus" href="#plus"></use>
          </svg>
          {{'TABLE.ADD' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <diary-habits-table [data]="(selfCareTasks$ | async)"></diary-habits-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url(assets/images/habits.jpeg);"></div>
      <mat-card-title>{{'HABITS.SPORTS' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'MESSAGE.SPORTS_DESCRIPTION' | translate}}</mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="createTask('sports')">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#plus" href="#plus"></use>
          </svg>
          {{'TABLE.ADD' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <diary-habits-table [data]="(sportsTasks$ | async)"></diary-habits-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url(assets/images/habits.jpeg);"></div>
      <mat-card-title>{{'HABITS.STUDY' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'MESSAGE.STUDY_DESCRIPTION' | translate}}</mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="createTask('study')">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#plus" href="#plus"></use>
          </svg>
          {{'TABLE.ADD' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <diary-habits-table [data]="(studyTasks$ | async)"></diary-habits-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url(assets/images/habits.jpeg);"></div>
      <mat-card-title>{{'HABITS.MEDITATION' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'MESSAGE.MEDITATION_DESCRIPTION' | translate}}</mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="createTask('meditation')">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#plus" href="#plus"></use>
          </svg>
          {{'TABLE.ADD' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <diary-habits-table [data]="(meditationTasks$ | async)"></diary-habits-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{'HABITS.GAMES' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'MESSAGE.GAMES_DESCRIPTION' | translate}}</mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="createTask('game')">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#plus" href="#plus"></use>
          </svg>
          {{'TABLE.ADD' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <diary-habits-table [data]="(gameTasks$ | async)"></diary-habits-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{'HABITS.CHALLENGE' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'MESSAGE.CHALLENGE_DESCRIPTION' | translate}}</mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="createTask('challenge')">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#plus" href="#plus"></use>
          </svg>
          {{'TABLE.ADD' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <diary-habits-table [data]="(challengingTasks$ | async)"></diary-habits-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{'HABITS.LOVE' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'MESSAGE.LOVE_DESCRIPTION' | translate}}</mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="createTask('love')">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#plus" href="#plus"></use>
          </svg>
          {{'TABLE.ADD' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <diary-habits-table [data]="(loveTasks$ | async)"></diary-habits-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url(assets/images/habits.jpeg);"></div>
      <mat-card-title>{{'HABITS.STORIES' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'MESSAGE.STORIES_DESCRIPTION' | translate}}</mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="createTask('story')">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#plus" href="#plus"></use>
          </svg>
          {{'TABLE.ADD' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <diary-habits-table></diary-habits-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{'HABITS.MOVIES_OPERAS' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'MESSAGE.MOVIES_OPERAS_DESCRIPTION' | translate}}</mat-card-subtitle>
      <div class="card-header-action text-right">
        <button mat-stroked-button (click)="createTask('movie')">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#plus" href="#plus"></use>
          </svg>
          {{'TABLE.ADD' | translate}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <diary-habits-table></diary-habits-table>
    </mat-card-content>
  </mat-card>

</div>
