.letters-table {
  width: 100%;

  .mat-column-action {
    border-left: 1px solid currentColor;
    text-align: center;
    width: 16em;
  }
}

.button-container {
  display: flex;
  align-items: center;

  .filter {
    flex: 1;
  }
}
