<div class="authentication">
  <div class="authentication-container authentication-container--bg-img"
       style="background-image: url(assets/images/background.png);">
    <div class="authentication-container__inner">
      <div class="authentication-card">
        <div class="authentication-card__header">
          <div class="authentication-card__app-name">{{'COMMON.MY_DIARY' | translate}}</div>
          <h1 class="authentication-card__title">{{'COMMON.FORGET_PASSWORD' | translate}}</h1>
        </div>
        <div class="authentication-card__content">
          <p class="authentication-card__text">{{'MESSAGE.FORGOT_PASSWORD' | translate}}</p>
          <form name="forgot-password-form">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>{{'COMMON.EMAIL' | translate}}</mat-label>
              <input type="email" matInput name="email" [(ngModel)]="email" required>
            </mat-form-field>
            <button mat-raised-button class="full-width" color="primary" (click)="resetPassword()">
              {{'COMMON.RESET_PASSWORD' | translate}}
            </button>
          </form>
          <p class="authentication-card__text authentication-card__last-child">
            {{'MESSAGE.ALREADY_HAVE_ACCOUNT' | translate}}
            <a mat-button href="javascript:void(0)" routerLink="/login">
              {{'COMMON.LOGIN' | translate}}
            </a>
          </p>
        </div>
        <div class="authentication-card__footer">
          <small>Developed by Haimei Zhang<br>
            Visit my <a href="https://haimei-zhang.github.io/profile/" target="_blank">profile page</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
