<h1 mat-dialog-title>{{data.title | translate}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>{{'TABLE.DATE' | translate}}</mat-label>
    <input matInput [matDatepicker]="picker" aria-label="date" [(ngModel)]="data.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'TABLE.NOTES' | translate}}</mat-label>
    <textarea matInput [(ngModel)]="data.notes" aria-label="notes"></textarea>
  </mat-form-field>
  <mat-radio-group class="mb-2" aria-label="Select an option" [(ngModel)]="data.type">
    <mat-radio-button class="mr-2" value="income" [checked]="!data.type || data.type === 'income'">{{'BANK.INCOME' | translate}}</mat-radio-button>
    <mat-radio-button value="expenses" [checked]="data.type === 'expenses'">{{'BANK.EXPENSES' | translate}}</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill">
    <mat-label>{{'BANK.AMOUNT' | translate}}</mat-label>
    <input type="number" matInput [(ngModel)]="data.amount" aria-label="amount">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'COMMON.CANCEL' | translate}}</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>{{'COMMON.OK' | translate}}</button>
</div>
