<diary-icons></diary-icons>
<div class="toolbar" role="banner">
  <div class="title">
    <img width="40" alt="Logo" src="assets/images/wx.png"/>
    <span>{{'COMMON.MY_DIARY' | translate}}</span>
  </div>

  <div class="spacer"></div>
  <button type="button" mat-button [matMenuTriggerFor]="settings">
    {{'COMMON.SETTINGS' | translate}}
  </button>
  <mat-menu #settings="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="languages">{{'COMMON.LANGUAGE' | translate}}</button>
  </mat-menu>
  <mat-menu #languages="matMenu">
    <button mat-menu-item (click)="changeLanguage('cn')">{{'LANGUAGE.CN' | translate}}</button>
    <button mat-menu-item (click)="changeLanguage('en')">{{'LANGUAGE.EN' | translate}}</button>
  </mat-menu>

  <button type="button" mat-button (click)="drawer.toggle(); isMenuOpen = !isMenuOpen">
    {{'COMMON.MENU' | translate}}
  </button>

  <button type="button" mat-button [matMenuTriggerFor]="account">{{user.displayName}}</button>
  <mat-menu #account="matMenu">
    <button mat-menu-item>{{'COMMON.ACCOUNT_SETTINGS' | translate}}</button>
    <button mat-menu-item (click)="logout()">{{'COMMON.LOGOUT' | translate}}</button>
  </mat-menu>

</div>

<div class="main-container">
  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
      <diary-sidenav></diary-sidenav>
    </mat-drawer>
  </mat-drawer-container>

  <div id="content-container" class="content-container" [ngClass]="{'pull-right-toggle': isMenuOpen}">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="text-center">
  some copy right here, you know
</footer>

<div class="page-loader" *ngIf="isLoading">
  <div class="page-loader-container">
    <img class="page-loader-img" src="assets/images/loader.gif" alt="loading">
  </div>
</div>
