.page-header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 15px 15px;
  -webkit-transition: margin .3s ease;
  transition: margin .3s ease;
  margin: -20px -20px 20px;
}

@media (min-width: 960px) {
  .page-header {
    padding: 30px
  }
}

.page-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

@media (min-width: 960px) {
  .page-header__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 42px
  }
}

.page-header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.page-header__title {
  font-size: 1.375rem;
  margin-bottom: 0;
  padding-bottom: 5px;
  overflow-wrap: break-word
}

@media (min-width: 960px) {
  .page-header__title {
    font-size: 1.875rem
  }
}

.page-header__collapse-icon {
  margin-left: auto;
  background: none;
  border: none
}

@media (min-width: 960px) {
  .page-header__collapse-icon {
    display: none
  }
}

.page-header__collapse-icon .icon {
  width: 20px !important;
  height: 20px !important
}

@media (max-width: 959.98px) {
  .page-header__right {
    padding-top: 0
  }
  .page-header__right .form-group {
    margin: 5px 0 0 !important
  }
}

@media (min-width: 960px) {
  .page-header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .page-header__right .form-group {
    margin: 0 !important
  }
}

@media (min-width: 960px) {
  .page-header__right--with-collapse {
    margin-top: .5rem !important
  }
}

@media (min-width: 960px) {
  [ellipsis] .page-header__content, [overflow] .page-header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  [ellipsis] .page-header__content .page-header__right, [overflow] .page-header__content .page-header__right {
    float: right
  }
}

[ellipsis] .page-header__left, [ellipsis] .page-header__title, [overflow] .page-header__left, [overflow] .page-header__title {
  max-width: 100%
}

.collapse.collapse--show {
  overflow: visible !important
}

.page-header__container {
  width: 100% !important
}

.page-header__container .breadcrumb {
  background-color: #fff;
  padding: .5rem 0 0
}

.page-header__container .breadcrumb--with-compact-page-header {
  padding-top: .25rem !important
}

.page-header__container .avatar__image-with-page-header {
  margin-right: .25rem !important
}

.page-header__container .page-header__svg {
  margin-right: .25rem !important;
  float: left !important;
  vertical-align: bottom !important
}

.page-header__title--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.page-header--compact-with-breadcrumb {
  padding-bottom: .25rem !important
}

.page-header--with-breadcrumb {
  padding-bottom: .5rem !important
}


/*avatar*/
.avatar {
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.avatar__name {
  display: none;
  width: calc(100% - 42px) !important;
  height: 100% !important;
  border-radius: .125rem !important;
  padding: .25rem .25rem .25rem .5rem
}

.avatar__image {
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #f3f3f3;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-left: -15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 70px
}

.avatar__image .avatar__image-container, .avatar__image .btn__button {
  border-radius: 50%;
  text-decoration: none;
  border: none !important;
  font-weight: 700;
  font-size: 30px;
  color: #414141;
  width: 100%;
  height: 100%
}

.avatar__image .avatar__image-container img, .avatar__image .btn__button img {
  height: 64px;
  width: 64px;
  border-radius: 50%
}

.avatar__image .avatar__image-container svg, .avatar__image .btn__button svg {
  fill: #414141;
  height: 64px;
  width: 64px;
  margin-right: 0
}

.avatar__image:not(.avatar__dropdown) div:not(.avatar__name) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.avatar__image:first-child {
  margin-left: 0
}

.avatar--sm .avatar__image {
  margin-left: -8px;
  width: 38px;
  height: 38px
}

.avatar--sm .avatar__image .btn__button, .avatar--sm .avatar__image div {
  margin-left: 0;
  font-size: 18px !important
}

.avatar--sm .avatar__image .btn__button img, .avatar--sm .avatar__image div img {
  margin-left: 0;
  height: 32px !important;
  width: 32px !important
}

.avatar--sm .avatar__image .btn__button svg, .avatar--sm .avatar__image div svg {
  fill: #414141;
  height: 32px !important;
  width: 32px !important;
  margin-right: 0
}

.avatar--lg .avatar__image {
  margin-left: -31px;
  border-width: 4px !important;
  width: 134px;
  height: 134px
}

.avatar--lg .avatar__image .dropdown__item, .avatar--lg .avatar__image button, .avatar--lg .avatar__image div {
  margin-left: 0;
  font-size: 60px
}

.avatar--lg .avatar__image .dropdown__item img, .avatar--lg .avatar__image button img, .avatar--lg .avatar__image div img {
  margin-left: 0;
  height: 128px;
  width: 128px
}

.avatar--lg .avatar__image .dropdown__item svg, .avatar--lg .avatar__image button svg, .avatar--lg .avatar__image div svg {
  fill: #414141;
  height: 128px !important;
  width: 128px !important;
  margin-right: 0
}

.avatar--primary {
  border-color: #1d428a
}

.avatar--secondary, .avatar--success {
  border-color: #00823b
}

.avatar--warning {
  border-color: #ffc107
}

.avatar--info {
  border-color: #007377
}

.avatar--danger {
  border-color: #dc3545
}

.avatar--light {
  border-color: #f3f3f3
}

.avatar--dark {
  border-color: #242424
}

.avatar--dark:hover {
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.avatar--advanced {
  border-color: #e9510e
}

.avatar--advanced-sky {
  border-color: #009fdf
}

.avatar--advanced-green {
  border-color: #009a44
}

.avatar__image:hover {
  background: #e3e3e3
}

.avatar__group .avatar__image {
  -webkit-transition: -webkit-transform .1s ease-out 0s;
  transition: -webkit-transform .1s ease-out 0s;
  transition: transform .1s ease-out 0s;
  transition: transform .1s ease-out 0s, -webkit-transform .1s ease-out 0s
}

.avatar__group .avatar__image:not(.avatar__dropdown):hover {
  -webkit-box-shadow: 0 3px 6px #767676;
  box-shadow: 0 3px 6px #767676;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  z-index: 10
}

.avatar__group .avatar__image:last-of-type:hover {
  margin-top: 0 !important
}

.avatar__image--status {
  position: relative
}

.avatar__image--status:before {
  content: " ";
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 1;
  background: #fff
}

.avatar__image--status.avatar__image--online:before {
  background: #00823b
}

.avatar__image--status.avatar__image--offline:before {
  background: #b3b3b3
}

.avatar__image--status.avatar__image--busy:before {
  background: #dc3545
}

.avatar__image--status.avatar__image--away:before {
  background: #ffc107
}
