<diary-page-header [pageTitle]="'MENU.MESSAGES'" [pageSubtitle]="'MENU.MESSAGES'" [avatarSrc]="avatarSrc"
                   [toShowAction]="true" (refreshEvent)="refresh($event)"></diary-page-header>

<div class="messages-container">
  <div class="messages-sidebar">
    <div class="invite-friends">
      <form name="friends-form">
        <p><b>{{'FRIENDS_MESSAGES.YOUR_ID' | translate}}:</b> {{user.uid}}</p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>{{'FRIENDS_MESSAGES.FRIENDS_ID' | translate}}</mat-label>
          <input type="text" matInput name="friendId" [placeholder]="'MESSAGE.INVITE_FRIEND' | translate"
                 [(ngModel)]="friendId" required>
        </mat-form-field>
        <button mat-stroked-button class="full-width" color="primary" (click)="addFriend()">
          {{'COMMON.INVITE' | translate}}
        </button>
      </form>
    </div>

    <div class="pending-invitation-friends" *ngIf="pendingFriends?.length">
      <mat-divider class="my-2"></mat-divider>
      <h3>{{'FRIENDS_MESSAGES.PENDING_INVITATION' | translate}}</h3>
      <p>{{'MESSAGE.PENDING_ACCEPTED' | translate}}</p>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let friend of pendingFriends" [value]="friend.friendUid">
          <span>{{friend.friendDisplayName}}</span>
          <button mat-stroked-button color="basic" class="pending-invitation-action"
                  (click)="acceptInvitation(friend)">{{'COMMON.ACCEPT' | translate}}</button>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="friends-list">
      <mat-divider class="my-2"></mat-divider>
      <h3>{{'FRIENDS_MESSAGES.CONNECTED_FRIENDS' | translate}}</h3>
      <ng-container *ngIf="!connectedFriends?.length">
        <p>{{'MESSAGE.NO_DATA' | translate}}</p>
      </ng-container>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let friend of connectedFriends" [value]="friend.friendUid">
          {{friend.friendDisplayName}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="messages-content">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{'COMMON.MESSAGE' | translate}}</mat-label>
        <textarea matInput [(ngModel)]="message" aria-label="message"></textarea>
      </mat-form-field>
      <div class="text-right">
        <button mat-stroked-button (click)="createMessage()">
          <svg class="icon" width="16" height="16">
            <use xlink:href="#plus" href="#plus"></use>
          </svg>
          {{'TABLE.ADD' | translate}}
        </button>
      </div>
    </div>
    <mat-divider class="my-2"></mat-divider>
    <ng-container *ngFor="let message of messages">
      <mat-card class="card mb-2">
        <mat-card-header>
          <div mat-card-avatar class="header-image" style="background-image: url(assets/images/daily-tasks.jpg);"></div>
          <mat-card-title>{{message.name}}</mat-card-title>
          <mat-card-subtitle>{{message.date | date: 'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{message.notes}}
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-stroked-button color="basic" (click)="openDeleteConfirmationDialog(message)">
            <svg class="icon" width="16" height="16">
              <use xlink:href="#trash-alt" href="#trash-alt"></use>
            </svg>
            {{'TABLE.DELETE' | translate}}
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
